<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>


    <!-- Заголовок -->
    <nav class="navbar navbar-dark bg-dark">
        <form class="form-inline">
            <strong>
                <span class="navbar-text-xl text-white" th:text="${user.email}"/>
            </strong>
            <span class="navbar-text-xl text-white">&nbsp with roles: &nbsp</span>
            <span class="navbar-text-xl text-white">
                <a th:each="sRole: ${sRoles}" th:text="${sRole} + ' '"/>
            </span>
        </form>
        <ul class="navbar-nav float-lg-end">
            <li class="nav-item">
                <a class="nav-link text-muted " th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>

    <!-- сеточка -->
    <div class="container-fluid bg-light">
        <div class="row">
            <!-- левая панель -->
            <div class="col-md-2  p-0 bd-white min-vh-100">
                <br>
                <form th:each="sRole : ${sRoles}" th:if="${sRole == 'User'}"  th:action="'/' + ${sRole.toLowerCase()}" >
                    <button class="btn btn-lg btn-block m-0 text-left btn-primary" th:text="${sRole}"/>
                </form>
                <form th:each="sRole : ${sRoles}" th:unless="${sRole == 'User'}"  th:action="'/' + ${sRole.toLowerCase()}" >
                    <button class="btn btn-lg btn-block m-0 text-left btn-light" th:text="${sRole}"/>
                </form>
            </div>

            <!-- контент с права -->
            <div class="container col-md-10 bg-light" >
                <br>
                <h1>User Information-page</h1>
                <div class="tab-content">
                    <div class="tab-pane table-striped container-fluid active">
                        <div class="row">
                            <div class="col border bg-light">
                                <p><h5>User info</h5>
                            </div>
                            <div class="w-100"></div>
                            <div class="col border bg-white">
                                <br/>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Fist Name</th>
                                        <th>Last name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th th:if="${sRoles.size() == 1}" >role</th>
                                        <th th:unless="${sRoles.size() == 1}" >roles</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:object="${user}">
                                        <td th:text="*{id}"></td>
                                        <td th:text="*{fistName}"></td>
                                        <td th:text="*{lastName}"></td>
                                        <td th:text="*{age}"></td>
                                        <td th:text="*{email}"></td>
                                        <td>
                                            <a th:each="sRole : *{sRoles()}" th:text="${sRole.toUpperCase()} + ' '"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>